input{
    margin-left: 30%;
    width: 40%;
    height: 50px;
    font-size: large;
}
h2{
    text-align: center;
}
body{
    background-color: rgb(219, 156, 72);
}
#bsp
{
    font-size: 30px;
   margin-left: 42%;
   background-color: aliceblue;
   height: 50px;
   width: 200px;
   text-align: center;
}